$animation: scroll-left 10s linear infinite;

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@mixin bg-default {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin button {
  width: 247px;
  height: 66px;
  background-color: black;
  border: 1px solid black;
  border-radius: 60px;
  color: white;
  font: inherit;
  font-size: 24px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
    height: 55px;
    
  }
}

@mixin button_hover {
  background-color: #fff;
  color: #000;
}
@mixin stars{
  position: absolute;
  z-index: 1;
}
